<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6909961604.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="top">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre"></a>
            </div>
            <div class="container-buscar">
                    <input type="search" id="search" placeholder="Buscar productos, marcas y más..."/>
                    <i class="fas fa-search"></i>
            </div>
            
            <h2 class="texto">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a class="hamburguer-buttom" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <div class="bottom">
            <ul class="left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right">
                <li>
                    <a href="register">
                        Creá tu cuenta
                        <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="login">
                        Ingresá
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mis compras
                        <i class="fas fa-shopping-basket"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner Meli">
        <div class="container">
            <h2 class="tittle">Basado en tu última visita</h2>
            <section class="container-product">
                <article>
                    <img class="product_img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$6.770</p>
                            <p class="product_discount">40% off</p>
                        </div>
                        <h4 class="product_description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img class="product_img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$230.000</p>
                            <p class="product_discount">20% off</p>
                        </div>
                        <h4 class="product_description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img class="product_img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$70.500</p>
                            <p class="product_discount">10% off</p>
                        </div>
                        <h4 class="product_description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img class="product_img" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$23.200</p>
                            <p class="product_discount">5% off</p>
                        </div>
                        <h4 class="product_description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
            <h2 class="tittle">Ofertas</h2>
            <section class="container-product">
                <article>
                    <img class="product_img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$6.770</p>
                            <p class="product_discount">40% off</p>
                        </div>
                        <h4 class="product_description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img class="product_img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$230.000</p>
                            <p class="product_discount">20% off</p>
                        </div>
                        <h4 class="product_description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img class="product_img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$70.500</p>
                            <p class="product_discount">10% off</p>
                        </div>
                        <h4 class="product_description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img class="product_img" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung">
                    <div class="box-details">
                        <i class="fas fa-truck"></i>
                        <div class="box-price">
                            <p class="product_price">$23.200</p>
                            <p class="product_discount">5% off</p>
                        </div>
                        <h4 class="product_description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <section class="footer">
            <div class="footer-section">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es
                    seguro!</p>
            </div>
            <div class="footer-section">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $2500</h4>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-section">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>
        </section>
        <div>
            <h4 class="text-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>

</body>

</html>
