:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --fuente: 'Roboto'
}

* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*,
*:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.2rem;
    font-family: var(--fuente);
}
h2 {
    font-size: 2.4rem;
}
img {
    width: 100%;
}

/* Header */

header {
    background-color: var(--amarillo);
    padding: 1.5rem;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo,
.container-buscar {
    flex-basis: calc(50% - 0.5rem);
}
.logo {
    max-width: 20rem;
    margin: 0.5rem;
}
.logo:hover {
    cursor: pointer;
}
.container-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    width: 15rem;
}
.container-buscar:hover {
    cursor: pointer;
}
.container-buscar input {
    border: none;
    outline: none;
    float: left;
    color: var(--gris-oscuro);
    width: 13rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
}
.container-buscar i {
    text-align: center;
    width: 3rem;
    height: 3rem;
    padding-top: 0.7rem;
    padding-right: 0.5rem;
    background-color: white;
    color: var(--gris-oscuro);
    text-decoration: none;
    border-radius: 0 0.5rem 0.5rem 0;

}
.texto {
    text-align: center;
    font-weight: inherit;
    font-size: 1.4rem;
    margin: 1.5rem auto;
}

.hamburguer-buttom {
    background-color: var(--azul);
    color: var(--gris-claro);
    display: block;
    max-width: 5rem;
    padding: 1rem 0;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.8rem;
    margin: auto;
}
.hamburguer-buttom:hover{
    cursor: pointer;
}
.bottom {
    display: none;
}

/* Contenido */
main {
    background-color: var(--gris-claro);
}
.container {
    width: 90%;
    margin: 0 auto;
}
.tittle {
    margin: 0;
    padding: 2rem 0;
    color: var(--gris-oscuro);
}
.box-details {
    border-top: solid 0.1rem var(--gris-claro);
    padding: 2rem;
    position: relative;
}
.box-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.product_price {
    font-size: 1.8rem;
    margin-right: 1rem;

}
.product_discount {
    color: var(--verde);

}
.container-product article {
    background-color: white;
    margin-bottom: 1rem;
    transition: all 1000ms;
}
.container-product article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}
.container-product article i {
    display: block;
    font-size: 1.6rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2rem;
    top: -1.5rem;
    color: var(--verde);
    border: solid 0.1rem var(--verde);
    border-radius: 50%;
    transition: all 450ms;
}
article:hover .fa-truck {
    transform: rotate(-90deg);
}
.product_img {
    padding: 1rem;
}

.product_discount,
.product_description {
    font-size: 1.6rem;
}
.product_description {
    color: var(--gris-oscuro);
    display: none;
    font-weight: inherit;
    transition: all 1000ms;
    margin-top: 1rem;
}

article:hover .product_description {
    display: block;
}


/*Register y Login*/

.login {
    background-color: var(--gris-claro);
    padding: 2rem 0;
}
.container-form {
    margin: 0 auto;
    width: 90%;
}
.container-form input {
    margin: 2rem auto;
    margin-bottom: 4rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 50rem;
}
.block {
    display: block;
    margin: 0 auto;
}
.text-style {
    font-size: 1.5rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 50rem;
}

.container-profile-data {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}
.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-profile label {
    padding: 3rem;
}

.option {
    padding: 2rem;
}
.option input {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 2rem 0;
    align-self: center;
}
.option2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option2 label {
    padding: 1rem;
}
.option2 input {
    margin: 0;
    padding: 0;
    width: 2rem;
    align-items: center;
}
.buttom-send {
    background-color: var(--celeste);
    color: white;
    width: 100%;
    max-width: 50rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 2rem; 
    transition: all 450ms;
}
.buttom-send:hover {
    background-color: #02a;
    cursor: pointer;
}


/* Footer */
footer {
    margin: 2rem;
}
.text-footer {
    text-align: center;
    font-weight: inherit;
}
.footer {
    margin: 0 auto;
    text-align: center;
}
.footer-section {
    margin: 1.5rem
}
.footer-section i {
    color: var(--celeste);
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.footer-section p {
    margin: 0.5rem;
}
.footer i:hover {
    color: #666666;
}


/* Medias queries */

@media (min-width: 481px) {
    .top {
        flex-wrap: nowrap;
    }
    .logo, 
    .container-buscar,
    .texto {
        flex-basis: calc(33.3% - 1.5rem);
    }
    .texto {
        margin: 0 auto;
    }
    .hamburguer-buttom {
        display: none;
    }
    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
    }
    .bottom ul {
        list-style: none;
    }
    .bottom a {
        text-decoration: none;
        color: black;
    }
    .left {
        display: flex;
        justify-content: space-around;
    }
    .left li {
        margin: 0 0.5rem;
    }
    .right  {
        display: flex;
        justify-content: space-between; 
    } 
    .right li {
        margin: 0 0.5rem;
    }

    .texto {
        font-size: 1.2rem;
    }
    
    .container-product {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 769px) {
    header {
        padding-bottom: 2rem;
    }
    .logo {
        flex-basis: calc(25% - 1rem);
    }
    .container-buscar {
        flex-basis: calc(40% - 1rem);
    }
    .texto {
        flex-basis: calc(35% - 1rem);
        font-size: 1.5rem;
        margin: 0;
    }
    .right li,
    .left li {
        font-size: 1.5rem;
        margin: 0 1rem
    } 
    .container-buscar input {
        width: 30rem;
    }
    .container-product {
        grid-template-columns: repeat(4, 1fr);
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }
@media (min-width: 1024px) {
    .container-buscar input {
        width: 50rem;
    }
}
}
